.blog-post-page-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    justify-items: center;
}
.post-subcontainer {
    display: flex;
    gap: 30px;
}
.post-header-image,
.post-secondary-image {
    border-radius: 10px;
}
.blog-post-page-container>h1 {
    text-align: center;
}
.blog-post-page-container>div {
    font-size: 1.15rem;
}

.blog-post-page-container>div>img {
    max-width: 50vw;
    height: auto;
    margin: auto;
}
.post-long-description,
.post-recipe-description {
    font-size: 1.3rem
}


@media only screen and (max-width: 1200px) {
    .post-subcontainer {
        flex-wrap: wrap
    }
    .wrap-reverse{
        flex-wrap: wrap-reverse
    }
    .blog-post-page-container>div>img {
        max-width: 80vw;
    }
  }