.cart{
    display:flex;
    flex-direction: column;
}


.cart-item-container{
    display: flex;
    gap: 10px;
    margin: 10px;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: space-evenly;
}


.cart-image{
    max-width: 30vw;
    height: auto;
    margin: auto;
    border-radius: 10px;
}
.cart-total-container{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    border: 1px solid gray;
}

.total-item{
    display: flex;
}
.total-item> div:first-child{
    font-weight: 800
}