.contact-page-container {
    display: flex;
    padding: 20px;
    justify-content: center;
}
.contact-page-copy{
    max-width: 50vw;
    font-size: 1.15rem
}
.contact-page-copy>img{
    max-width: 90%;
    height: auto;
    margin: auto;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.25rem;
}
.form>input,
.form>textarea {
    font-family: inherit;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px;
    font-size: 1.15rem;
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    .contact-page-container {
        flex-wrap: wrap;
    }
    .contact-page-copy{
        max-width: 90vw
    }

  }
