.footer{
    height: 200px;
    background-color: var(--global-theme-color);
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 1.25rem;
}
.footer-logo-container >div {
    padding-left: 20px;
    max-width: 350px;
}
.footer-logo{
    height: 70px;

}
.quick-link-header {
    font-size: 1.4rem;
    font-weight: 800;
    text-decoration: underline;
}
.footer-quicklink-container {
    padding:0;
    margin: 0;
    list-style: none;
    font-size: 1.25rem;
}
.footer-tab{
    padding: 3px;
    border-radius: 10px;
}
.footer-tab > a{
    transition-duration: .25s;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}
.footer-tab:hover,
.footer-tab:active,
.policy-links-container>li>a:hover,
.policy-links-container>li>a:active {
    background-color: var(--global-background-color);
    color: black;
    transition: ease;
    transition-duration: .25s;
}
.policy-links-container {
    text-align: right;
    padding-right: 20px;
    list-style: none;
}
.policy-links-container>li>a{
    padding: 3px;
    text-decoration: none;
    color: inherit;
    transition-duration: .25s;
    font-weight: 600;
    border-radius: 10px;
    
}

.policy-links-container>li {
    padding: 3px;
}