.home-page-container {
    display: flex;
    align-items: center;
    justify-content: center;

}
.home-page-size-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 20px;
    width: 80vw;
}

.left-hero-image,
.right-hero-image,
.hero-copy, 
.explore-images {
    max-width: 100%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}
.hero-copy, 
.explore-images,
.right {
    justify-self: start;
}




.left-hero-image,
.explore-image,
.left {
    justify-self: end;
}
.welcome{
    font-weight: 800;
    font-size: 3rem;
}
.welcome-copy {
    font-size: 2rem;
}


.right-hero-image {
    grid-column: 2;
}