.nav-bar-container {
    background-color: var(--global-theme-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    align-items: center;
    height: 110px;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
}
.tab-container {
    display:flex;
    gap: 20px;
    justify-self: center;
}
.tab {
    text-decoration: none;
    color: inherit;
    border-radius: 10px;
    padding: 15px;
    font-weight: 600;
    transition-duration: .25s;
    
    
}

.tab:hover,
.tab:active {
    background-color: var(--global-background-color);
    color: black;
    transition: ease;
    transition-duration: .25s;
}

.shopping-cart {
    height: 33px;
    padding-right: 10px;
    justify-self: end;
}
.logo-container {
    max-width: 300px;
    padding-left: 20px;
}