.nav-bar-container {
    background-color: var(--global-theme-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    height: 110px;
    font-weight: 500;
}
.tab-container {
    display:flex;
    gap: 20px;
    justify-self: center;
}
.tab {
    text-decoration: none;
    color: inherit;
    border-radius: 10px;
    padding: 15px;
    font-weight: 600;
    transition-duration: .25s;  
}

.tab:hover,
.tab:active {
    background-color: var(--global-background-color);
    color: black;
    transition: ease;
    transition-duration: .25s;
}
.header-logo-container{
    height: 90px;
    margin-left: 20px;
}

.shopping-cart {
    height: 33px;
    padding-right: 10px;
    justify-self: end;
}
.active {
    background-color: white;
    color:black;
}

@media only screen and (max-width: 830px) {
    .nav-bar-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        height: auto;
    }
    .header-logo-container{
        padding-left: 0;
    }

  }