  .thumbnail-slider-wrap .slick-track .slick-slide img {
    width: 70%;
  }
  .slider-wrapper {
    width: 50%;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 20px;
  }
  .slick-slide-image {
    max-width: 100%;
    border-radius: 8px;
  }
  .slick-prev:before,
  .slick-next:before {
    color: #777777;
  }

  @media only screen and (max-width: 950px) {
    .slider-wrapper {
      width: 80%;
      margin: 0 auto;
    }
  }