  .thumbnail-slider-wrap .slick-track .slick-slide img {
    width: 70%;
  }
  .slider-wrapper {
    max-width: 600px;
    height: auto;
    margin: auto;
    padding-left: 60px;
    padding-right: 60px;
  }
  .slick-slide-image {
    max-width: 100%;
    border-radius: 8px;
  }
  .slick-prev:before,
  .slick-next:before {
    color: #777777;
  }