@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
:root{
  --global-theme-color: rgb(77, 99, 160);
  --global-fonts: 'Libre Bakerville', serif, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
body {
  font-family: var(--global-fonts);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}